body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px;
    display: inline;
}

li a{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

li a:hover{
    color: hsl(220, 13%, 13%);
    text-decoration: underline hsl(26, 100%, 55%);
}

picture img:hover{
    cursor: pointer;
}

button{
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 0.7em;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    padding: 1.0em
}

button:hover{
    background-color: hsl(25, 100%, 94%);
}

#originalPrice{
    text-decoration: line-through;
}

#cart:hover, #avatar:hover, button:hover, #thumbnails img:hover{
    cursor: pointer;
}

#thumbnails img:hover{
    filter: brightness(125%);
}

#avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

/*#mobileMenu{
    visibility: hidden;
    /*position: fixed;
    top: 0;
    right: 0;
    background-color: white;
}*/

#percentOff{
    background-color: hsl(220, 13%, 13%);
    color: hsl(223, 64%, 98%);
    padding: 0.2em;
    border-radius: 0.5em;
}

#lightBox{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    width: 60%;
    height: 70%;
}

#lightBoxContent{
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
}

#closeLightBox:hover{
    cursor: pointer;
    color: hsl(26, 100%, 55%);
}

#cartContent{
    display: none;
    position: absolute;
    background-color: white;
}

#cartItems{
    display: none;
}

#quantityInput{
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show{
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    width: 20em;
    height: 100vh;
    background-color: white;
}

.open{
    pointer-events: none;
    filter: brightness(50%);
}

.slides{
    display: none;
}

.slides img{
    border-radius: 10px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;

}

.next{
    right: 0;
}

.column{
    float: left;
    width: 25%;
}

.column img{
    border-radius: 1.0em;
}

.column img:hover{
    cursor: pointer;
    filter: brightness(125%);
}

.active{
    border: 1px solid hsl(26, 100%, 55%);
    filter: brightness(150%);
}

.btn{
    background-color: hsl(223, 64%, 98%);
}

.btn span{
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}

@media(max-width: 60em){
    nav{
        visibility: hidden;
        width: 0;
    }

    hr{
        display: none;
    }

    #mainImg{
        display: none;
    }

    #desktopMenu{
        display: none;
    }

    #productImages section{
        display: none;
    }

    #addToCart{
        width: 100%;
    }
}

@media(min-width: 60em){
    main{
        padding: 50px 150px 0 150px;
    }

    #main{
        display: flex;
    }

    #productImages, #productInfo{
        width: 50%;
    }

    #openMenu{
        display: none;
    }

    #productImages img{
        border-radius: 1.0em;
    }

    #mobileMenu{
        display: none;
    }

    #quantityInput{
        width: 25%;
    }

    .mobileImg, .prevThumb, .nextThumb{
        display: none;
    }
}