body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px;
    display: inline;
}

li a{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

li a:hover{
    color: hsl(220, 13%, 13%);
    text-decoration: underline hsl(26, 100%, 55%);
    /*text-underline-offset: 25px;
    text-decoration-thickness: 4px;*/
}

button{
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 0.7em;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    padding: 1.0em;
}

button:hover{
    background-color: hsl(25, 100%, 94%);
}

picture img:hover, #cart:hover, #avatar:hover, button:hover, #thumbnails img:hover, #delete{
    cursor: pointer;
}

span p{
    margin: 0;
}

hr{
    border-top: 1px solid hsl(223, 64%, 98%);
}

#headLeft, #headRight{
    display: inline-flex;
    align-items: center;
}

#headRight #cart{
    margin-right: 2.0em;
}

#cartLink{
    padding-top: 10px;
}

#itemNumber{
    display: none;
    position: absolute;
    background: hsl(26, 100%, 55%);
    top: 70px;
    color: white;
    font-size: 13px;
    border-radius: 50%;
}

#thumbnails img{
    margin-right: 10px;
    margin-top: 25px;
}

#thumbnails img:hover{
    filter: brightness(125%);
}

#avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

#sneaker{
    color: hsl(219, 9%, 45%);
    font-weight: bold;
}

#price{
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
}

#percentOff{
    background-color: hsl(220, 13%, 13%);
    color: hsl(223, 64%, 98%);
    padding: 0.2em;
    border-radius: 0.5em;
    margin-right: 5px;
}

#originalPrice{
    text-decoration: line-through;
    font-weight: bold;
    color: hsl(219, 9%, 45%);
}

#lightBox{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    width: 500px;
    height: 70%;
}

#lightBox p{
    text-align: right;
    margin: 0;
    width: 475px;
}

#lightBoxContent{
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
}

#closeLightBox{
    color: white;
    font-size: 40px;
}

#closeLightBox:hover{
    cursor: pointer;
    color: hsl(26, 100%, 55%);
}

#addToCart{
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#cartContent{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
}

#cartItems{
    display: none;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin: 20px 0 10px 0;
}

#cartShoes{
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 3;
}

#checkout{
    width: 100%;
    margin-top: 1.0em;
}

#empty{
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 150px;
    color: hsl(219, 9%, 45%);
}

#productInfo p{
    color: hsl(219, 9%, 45%);
}

#quantityInput{
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobileMenu{
    position: absolute;
    left: 0;
    padding-top: 20px;
}

#mobileMenu ul{
    padding-top: 10px;
    padding-left: 30px;
}

#mobileMenu li{
    display: block;
    font-weight: bold;
}

#closeMenu{
    margin-left: 30px;
}

.show{
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    width: 20em;
    height: 100vh;
    background-color: white;
}

.open{
    pointer-events: none;
    filter: brightness(50%);
}

.slides{
    display: none;
}

.slides img, .column img{
    border-radius: 1.0em;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
}

.next{
    right: 0;
}

.prevThumb, .nextThumb{
    cursor: pointer;
    position: absolute;
    top: 35%;
    background-color: white;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
}

.prevThumb{
    margin-right: 370px;
}

.nextThumb{
    margin-left: 370px;
}

.next:hover, .prev:hover, .nextThumb:hover, .prevThumb:hover{
    color: hsl(26, 100%, 55%);
}

.column{
    float: left;
    width: 25%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column img:hover{
    cursor: pointer;
    filter: brightness(125%);
}

.active{
    border: 1px solid hsl(26, 100%, 55%);
    filter: brightness(150%);
}

.btn{
    background-color: hsl(223, 64%, 98%);
}

.btn span{
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}

@media(max-width: 60em){
    header{
        padding: 0 10px 10px 10px;
    }

    nav{
        visibility: hidden;
        width: 0;
    }

    main hr, #mainImg, #desktopMenu, #productImages section{
        display: none;
    }

    picture{
        display: flex;
        justify-content: center;
    }

    #sneakerLogo{
        margin-left: 1.5em;
    }

    #productInfo{
        padding: 10px;
    }

    #originalPrice{
        float: right;
    }

    #addItems{
        padding-top: 10px;
    }

    #addToCart{
        margin-top: 10px;
    }

    #itemNumber{
        top: 20px;
    }

    #cartContent{
        width: 90%;
        top: 100px;
    }

    #avatar{
        width: 30px;
        height: 30px;
    }

    .mobileShow{
        display: block;
    }

    .mobileHide{
        display: none;
    }
}

@media(min-width: 60em){
    main{
        padding: 50px 150px 0 150px;
    }

    li a:hover{
        text-underline-offset: 25px;
        text-decoration-thickness: 4px;
    }

    h1{
        font-size: 40px;
    }

    #main{
        display: flex;
        margin-top: 30px;
    }

    #productImages, #productInfo{
        width: 30.0em;
    }

    #productInfo{
        margin-top: 4.0em;
    }

    #openMenu, #mobileMenu{
        display: none;
    }

    #productImages img{
        border-radius: 1.0em;
    }

    #quantityInput{
        width: 25%;
        margin-right: 10px;
    }

    #addItems{
        display: flex;
        margin-top: 15px;
    }

    #cartContent{
        top: 110px;
        right: 200px;
        width: 20%;
        height: 30%;
    }

    .mobileImg, .prevThumb, .nextThumb{
        display: none;
    }
}